@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  background-color: #282d35;
  color: white;
}

header {
  height: 130px;
  background-color: #21222a;
  padding: 60px 50px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav > img {
  width: 100px;
  margin-right: 15px;
}

nav > span {
  font-weight: 700;
  color: #61dafb;
  font-size: 1.9rem;
}

main {
  padding: 70px 100px;
  background-image: url(react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  background-size: 200px;
}

main > h1 {
  margin: 0;
  font-size: 3.5rem;
}

.facts-list {
  margin-top: 35px;
}

.facts-list > li {
  padding-block: 20px;
  line-height: 19px;
  font-size: 1.4rem;
}

.facts-list > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}
