* {
  box-sizing: border-box;
}

body {
  background-color: #1c1917;
}

main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}

button {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.1;
}

button.on {
  opacity: 1;
}

button.all-off {
  all: unset;
  color: white;
  background-color: #b91c1c;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
